@model Movie247.Models.ProductionCompany
@using Movie247.Models

@{
    ViewData["Title"] = "Details";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> @Model.Name Company</h1>
                    <ul class="breadcumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"> <span class="ion-ios-arrow-right"></span> <a>movie in @Model.Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Information</h4>
                        <div class="row" style="color:white">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5 class="sb-title">Name: @Model.Name</h5>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="sb-title">Image Cover</h4>
                                    <img src="/web/images/company/@(Model.FilePath!=null?Model.FilePath:"default.jpg")"
                                        style="background-color: white;" alt="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="sb-title">Description</h4>
                                    <div style="color:white ;">
                                        @Html.Raw(@Model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                @if (Model.MovieCompanies.Count() > 0)
                {
                    <div class="topbar-filter user">
                        <p>Found <span>@Model.MovieCompanies.Count() Movie</span> in total</p>
                    </div>
                    <div class="flex-wrap-movielist grid-fav">
                        @foreach (MovieCompany movieCompany in Model.MovieCompanies)
                        {
                            <div class="movie-item-style-2 movie-item-style-1 style-3" style="margin-right: 35px;">
                                <img src="~/web/images/movie/poster/@movieCompany.Movie.PosterPath" alt="">
                                <div class="hvr-inner">
                                    <a href="/Movie/Details/@movieCompany.MovieId">
                                        Read more <i class="ion-android-arrow-dropright"></i>
                                    </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6>
                                        <a href="/Movie/Details/@movieCompany.MovieId">
                                            @movieCompany.Movie.Title
                                            (@movieCompany.Movie.ReleaseDate.Year)
                                        </a>
                                    </h6>
                                    <p class="rate">
                                        <i class="ion-android-star"></i><span>@movieCompany.Movie.ImdbAverage</span>/10
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="topbar-filter user">
                        <p>Found <span>0</span> in total</p>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->
