@{
    ViewData["Title"] = "Home Page";
}
@using Movie247.Models
<div class="slider movie-items">
    <div class="container">
        <div class="row">
            <div class="social-link">
                <p>Follow us: </p>
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-googleplus"></i></a>
                <a href="#"><i class="ion-social-youtube"></i></a>
            </div>
            <div class="slick-multiItemSlider">
                @foreach (Movie movie in ViewBag.top12NewestMovies)
                {
                    <div class="movie-item">
                        <div class="mv-img">
                            <a href="/Movie/Details/@movie.Id">
                                <img src="~/web/images/movie/poster/@movie.PosterPath" alt="" width="285" height="437">
                            </a>
                        </div>
                        <div class="title-in" style="margin: 20px;background: rgba(0,0,0,0.5);">
                            <div class="cate">
                                @foreach (var item in movie.MovieGenres)
                                {
                                    <span class="orange" style="padding:0px;margin-right: 4px;">
                                        <a href="/Movie/List?GenreId=@item.GenreId">@item.Genre.Name</a>
                                    </span>
                                }
                            </div>
                            <h6><a href="/Movie/Details/@movie.Id">@movie.Title</a></h6>
                            <p><i class="ion-android-star"></i><span>@movie.ImdbAverage</span> /10</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="title-hd">
                    <h2>Most Viewed</h2>
                    <a href="/Movie/List" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItemSlider">
                                    @foreach (Movie movie in ViewBag.top12MovieMostViewedOfUserMost)
                                    {
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="~/web/images/movie/poster/@movie.PosterPath" alt="" width="185"
                                                 height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="/Movie/Details/@movie.Id">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="/Movie/Details/@movie.Id">@movie.Title</a></h6>
                                                <p>
                                                    <i class="ion-eye"></i><span>@movie.Views.Value.ToString("#,##0")</span>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-hd">
                    <h2>Top rated</h2>
                    <a href="/Movie/List" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItemSlider">
                                    @foreach (Movie movie in ViewBag.top12TopRatedMovies)
                                    {
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="~/web/images/movie/poster/@movie.PosterPath" alt="" width="185"
                                                 height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="/Movie/Details/@movie.Id">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="/Movie/Details/@movie.Id">@movie.Title</a></h6>
                                                <p>
                                                    <i class="ion-android-star"></i><span>@movie.ImdbAverage</span> /10
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-hd">
                    <h2>most favorite</h2>
                    <a href="/Movie/List" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItemSlider">
                                    @foreach (Movie movie in ViewBag.top12MovieFavoriteOfUserMost)
                                    {
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="~/web/images/movie/poster/@movie.PosterPath" alt="" width="185"
                                                 height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="/Movie/Details/@movie.Id">
                                                    Read more <i class="ion-android-arrow-dropright"></i>
                                                </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="/Movie/Details/@movie.Id">@movie.Title</a></h6>
                                                <p>
                                                    @* <i class="ion-android-star"></i><span>@movie.ImdbAverage</span> /10
                                                    *@
                                                    <i class="ion-heart"></i><span>@movie.MovieFavourites.Count().ToString("#,##0")</span>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    @* <div class="ads">
                        <img src="~/web/images/uploads/ads1.png" alt="" width="336" height="296">
                        </div> *@
                    <div class="celebrities">
                        <h4 class="sb-title">Spotlight Celebrities</h4>
                        <div class="slider-nav-celebrities">
                            @foreach (Person person in ViewBag.top10PeopleHighestRate)
                            {
                                <div class="celeb-item">
                                    <a href="#">
                                        <img src="~/web/images/person/@person.ProfilePath" alt="" width="70" height="70">
                                    </a>
                                    <div class="celeb-author">
                                        <h6><a href="#">@person.Name</a></h6>
                                        <span>Popularity: @person.Popularity</span>

                                    </div>
                                </div>
                            }
                        </div>
                        <a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="trailers">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12">
                <div class="title-hd">
                    <h2>Trailers</h2>
                    <a href="/Movie/List" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="videos">
                    <div class="slider-for-2 video-ft">
                        @foreach (Movie movie in ViewBag.top5TrailerLatest)
                        {

                            <div>
                                <iframe class="item-video" src="@($"https://www.youtube.com/embed/{@movie.Trailer}")"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        }
                    </div>
                    <div class="slider-nav-2 thumb-ft">
                        @foreach (Movie movie in ViewBag.top5TrailerLatest)
                        {
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="~/web/images/movie/poster/@movie.PosterPath" alt="@movie.Title" width="4096"
                                     height="2737">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">@movie.Title</h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
