@{
    ViewData["Title"] = "Login";
}
@model Movie247.Controllers.Common.AccountController
@using Microsoft.AspNetCore.Identity
@using Movie247.Areas.Identity.Data

@inject SignInManager<Movie247User> _signInManager
<style>
    .row span {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        color: red;
        font-size: 14px;
    }
</style>
<div class="page-single-2">
    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a style="margin-top:120px"><img class="md-logo" src="" alt=""></a>
                <img src="" alt="" style="width:40%">
                <div class="overlay openform" style="position:relative; background:none">
                    <div class="login-wrapper" id="login-content">
                        <div class="login-content" style="padding: 30px 50px">
                            <h3>Login</h3>
                            <form method="post" class="form-horizontal" role="form">
                                <div class="row">
                                    <span asp-validation-summary="ModelState" class="text-danger">
                                        @Html.ValidationSummary(true)
                                    </span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.InputLogin.Email" class="text-left"></label>
                                    <input asp-for="@Model.InputLogin.Email" class="form-control" />
                                    <span asp-validation-for="@Model.InputLogin.Email" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <label asp-for="@Model.InputLogin.Password" class="text-left"></label>
                                    <input asp-for="@Model.InputLogin.Password" class="form-control" />
                                    <span asp-validation-for="@Model.InputLogin.Password" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="remember">
                                        <div>
                                            @Html.CheckBoxFor(model => model.InputLogin.RememberMe)
                                            <span style="position: relative;">
                                                @Html.DisplayNameFor(model =>
                                                model.InputLogin.RememberMe)
                                            </span>
                                        </div>
                                        <a href="/Account/ForgotPassword">Forget password ?</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" id="login-button">Login</button>
                                </div>
                            </form>
                            @await Html.PartialAsync("_ExternalLogin");
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}