@{
    ViewData["Title"] = "Login";
}
@model Movie247.Controllers.Common.AccountController

<style>
    .row span {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        color: red;
        font-size: 14px;
    }

    h6 {
        margin-bottom: 20px;
    }
</style>
<div class="page-single-2">
    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a style="margin-top:120px"><img class="md-logo" src="" alt=""></a>
                <img src="" alt="" style="width:40%">
                <div class="overlay openform" style="position:relative; background:none">
                    <div class="login-wrapper" id="login-content">
                        <div class="login-content" style="padding: 30px 50px">
                            <h3>Reset your password.</h3>
                            <form method="post" class="form-horizontal" role="form">
                                <input name="InputRegister.Code" value="@ViewBag.code" type="hidden" />
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="@Model.InputRegister.Email" class="text-left"></label>
                                        <input asp-for="@Model.InputRegister.Email" class="form-control" />
                                        <span asp-validation-for="@Model.InputRegister.Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="@Model.InputRegister.Password" class="text-left"></label>
                                        <input asp-for="@Model.InputRegister.Password" class="form-control" />
                                        <span asp-validation-for="@Model.InputRegister.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="@Model.InputRegister.ConfirmPassword" class="text-left"></label>
                                        <input asp-for="@Model.InputRegister.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="@Model.InputRegister.ConfirmPassword"
                                              class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <label class="text-left"></label>
                                        <button type="submit">Reset</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
