<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- 40414:39-->
@using Movie247.Controllers

<head>
    <!-- Basic need -->
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="description" content="This web contribute for everyone can watch movie free">
    <meta name="keywords" content="films, film, movie247, movie, free film, watch movie free">
    <meta name="author" content="Dang Viet Anh">
    <link rel="profile" href="https://www.facebook.com/anhdv47/">

    <link rel="shortcut icon" href="~/web/images/logo4.ico" />
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="~/web/css/plugins.css">
    <link rel="stylesheet" href="~/web/css/style.css">
    <link rel="stylesheet" href="~/web/css/select2.min.css">
    <style>
        .dropdown-menu.level1 li:hover a {
            background-color: orangered;
        }

        .dropdown-menu.level1 li:hover {
            background-color: orangered;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <img class="logo" src="~/web/images/logo6.png" alt="">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- BEGIN | Header -->
    <header class="ht-header" class="sticky">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="/">
                        <img class="logo" src="~/web/images/logo4.png" width="70%" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            @Html.ActionLink("Home","Index", "Home", null, new {@class="btn btn-default"})
                        </li>
                        <li class="dropdown first">
                            @Html.ActionLink("Movies","List", "Movie", null, new {@class="btn btn-default"})
                        </li>
                        <li class="dropdown first">
                            @Html.ActionLink("Celebrity","List", "Celebrity", null, new {@class="btn btn-default"})
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Genre <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1" style="max-height: 50vh;overflow: auto;">
                                @foreach (var i in CommonController.GetCategory())
                                {
                                    <li>
                                        <a href="/Movie/List?GenreId=@i.Id">@i.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Country <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1" style="max-height: 50vh;overflow: auto;">
                                @foreach (var i in CommonController.GetProductionCountry())
                                {
                                    <li>
                                        <a href="/Movie/List?CountryId=@i.Id">@i.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li><a id="go-to-footer">Contact</a></li>
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <form class="top-search" id="top-search">
                <select name="name">
                    <option value="movie">MOVIE</option>
                    <option value="celebrity">CELEBRITY</option>
                </select>
                <input type="text" placeholder="Search for a movie or celebrity that you are looking for">
            </form>
        </div>
    </header>

    <!-- END | Header -->
    @RenderBody()


    <!-- footer section-->
    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft">
                <div class="flex-child-ft item1">
                    <a href="/"><img class="logo" src="~/web/images/logo4.png" alt=""></a>
                    <p>
                        HE151359 - Dang Viet Anh - Dai Hoc FPT<br>
                        Lang Hoa Lac, Ha Noi
                    </p>
                    <p>Call me: <a href="#">(+84) 36863 9828</a></p>
                </div>
                <div class="flex-child-ft item2">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="/Movie/List">List Of Movie</a></li>
                        <li><a href="/Celebrity/List">Celebrity</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item3">
                    <h4>Account</h4>
                    <ul>
                        <li><a href="/User">My Account</a></li>
                        <li><a href="/User/Favourite">Watchlist</a></li>
                        <li><a href="/User/Rated">Rated</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item4">
                    <div class="backtotop">
                        <p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
                    </div>
                </div>

                @* <div class="flex-child-ft item3">
                    <h4>Legal</h4>
                    <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                    </ul>
                    </div> *@

            </div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
            </div>
            @* <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
                </div> *@
        </div>
    </footer>



    <script src="~/web/js/sweetalert.min.js"></script>
    <script src="~/web/js/jquery.js"></script>
    <script src="~/web/js/plugins.js"></script>
    <script src="~/web/js/plugins2.js"></script>
    <script src="~/web/js/custom.js"></script>
    <script src="~/web/js/select2.min.js"></script>
    <script>
        $("#top-search").on("submit", function (e) {
            e.preventDefault();
            var name = $("#top-search select[name=name]").val();
            var value = $("#top-search input[type=text]").val();
            if (name == "movie") {
                window.location.href = "/Movie/List" + "?name=" + value;
            } else {
                window.location.href = "/Celebrity/List" + "?name=" + value;
            }
        });
        function waitingResponse() {
            swal({
                title: "Please wait",
                text: "We are processing your request",
                buttons: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onOpen: () => {
                    swal.showLoading();
                }
            });
        }
        function showMessage(status, message, reload) {
            swal({
                title: status == "success" ? "Success" : "Error",
                text: message,
                icon: status == "success" ? "success" : "error",
                button: "OK",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false
            }).then(function () {
                if (reload) {
                    if (status == "success") {
                        window.location.reload();
                    }
                }
            });
        }
    </script>
    <!--
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
